
body{
    background-image: linear-gradient(120deg,#f3eacd,#f0ac9a);
   
        --nav-width: 200px;
        margin: 0 0 0 var(--nav-width);
        font-family: 'Quicksand', sans-serif;
        font-size: 18px;
        color:rgb(0, 0, 0);
    
}
h1{
    font-size: 70px;
    margin-left: 15%;
    color: #383250;
}
.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--nav-width);
    height: 100vh;
    background: #222222;
}
.nav__link {
    display: block;
    padding: 18px 18px;
    text-decoration: none;
    color: #eeeeee;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav__link:hover {
    background: rgba(255, 255, 255, 0.05);
}

@media screen and (max-width: 560px){
    nav a{
        width: 70px;
        padding: 7px 0;
    }
    nav  a{
        font-size: 14px;
    }
}

@media screen and (max-width: 768px){
    
    .page{
        width: 90vw;
    }
}

@media screen and (max-width: 1170px){
    .page{
        width: 80vw;
    }
}